@charset "UTF-8";

header {
    width: 1000px;
    background-color: #ffcccc;
}

#wrapper {
    width: 1000px;
    display: flex;
}

#main {
    width: 700px;
    background-color:#ccffcc;
    display: block;
}

#menu {
    width: 300px;
    background-color:#ccccff;
    display: block;
}

footer {
    width: 1000px;
    background-color: #ffccff;
}